asgiref==3.8.1
async-timeout==5.0.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django==3.2.23
django-cors-headers==4.5.0
django-redis==5.4.0
djangorestframework==3.15.1
geographiclib==2.0
geopy==2.4.1
idna==3.10
numpy==2.0.2
openrouteservice==2.3.3
pandas==2.3.0
polyline==2.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
redis==6.2.0
requests==2.32.4
scipy==1.13.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
